.App {
  width: max-content;
  border: 1px solid #288628;
  background: darkcyan;
  margin: auto;
  margin-top: 50px;
  min-width: 20%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.submit-btn {
  cursor: pointer;
}

.clear-all {
  color: black;
  border: none;
  font-weight: bold;
  float: right;
}